<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Jaeger</directory>
            <exclude>
                <directory suffix="Interface.php">src/</directory>
                <file>src/Jaeger/Constants.php</file>
                <file>src/Jaeger/Thrift/Agent/AgentIf.php</file>
                <file>src/Jaeger/Thrift/Agent/AggregationValidatorIf.php</file>
                <file>src/Jaeger/Thrift/Agent/BaggageRestrictionManagerIf.php</file>
                <file>src/Jaeger/Thrift/Agent/DependencyIf.php</file>
                <file>src/Jaeger/Thrift/Agent/SamplingManagerIf.php</file>
                <file>src/Jaeger/Thrift/CollectorIf.php</file>
                <file>src/Jaeger/Thrift/Crossdock/TracedServiceIf.php</file>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Jaeger Test Suite">
            <directory suffix=".php">tests/Jaeger</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="display_errors" value="on"/>
        <ini name="display_startup_errors" value="on"/>
    </php>

    <logging>
        <log
            type="coverage-text"
            target="php://stdout"
            lowUpperBound="60"
            highLowerBound="90"/>

        <log
            type="coverage-clover"
            target="build/coverage.xml"/>
    </logging>
</phpunit>
